{{page-title 'SomeOtherRoute'}}

<h3 class='text-lg font-semibold'>Code-Split route</h3>
<ul class='list-disc list-inside'>
  <li>Param Type: {{this.paramType}}</li>
  <li>Param Value: {{this.paramVal}}</li>
</ul>